

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/myjs/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div class="layui-col-md8">
        <form class="layui-form layui-form-pane" lay-filter="form_add" action="/Admin/UserInfo/Update">

            <div class="layui-form-item">
                <label class="layui-form-label">用户账号</label>
                <div class="layui-input-inline">
                    <input type="text" name="UserId" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" value="@ViewBag.UserId" readonly="readonly" style="color:red;font-weight:600">
                </div>
                <label class="layui-form-label">用户名字</label>
                <div class="layui-input-inline">
                    <input type="text" name="UserName" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" value="@ViewBag.UserName" readonly="readonly" style="color:red;font-weight:600">
                </div>

                <br />
                <br />
                <br />
                <label class="layui-form-label">旧密码</label>
                <div class="layui-input-inline ">
                    <input type="text" id="NewPassWord" name="PassWord" lay-verify="required|maxlength" placeholder="请输入旧密码" autocomplete="off" class="layui-input" value="">
                </div>
                <label class="layui-form-label">新密码</label>
                <div class="layui-input-inline ">
                    <input type="text" id="NewPassWord" name="NewPassWord" lay-verify="required|maxlength" placeholder="请输入新密码" autocomplete="off" class="layui-input" value="">
                </div>
            </div>
           @* <div class="layui-form-item">
                
                <label class="layui-form-label">请输入新密码</label>
                <div class="layui-input-inline ">
                    <input type="text" id="NewPassWord" name="NewPassWord" lay-verify="required|maxlength" placeholder="请输入新密码" autocomplete="off" class="layui-input" value="">
                </div>
            </div>*@

            <div class="layui-form-item" style="text-align:center">
                <button class="layui-btn" lay-submit="" lay-filter="formDemo">确认修改</button>
            </div>
        </form>
    </div>

    <script>

       @* var a = $("#PassWord").val;
        var b = $("#NewPassWord").val;
        if (a != b) {

            alert("两次输入密码不一致");
        }*@

        



        layui.use(['form'], function () {
            var form = layui.form


            //自定义验证规则

            //自定义验证规则
            form.verify({
                maxlength: function (value) {
                    //value 参数就是文本框中的值
                    if (value.length > 16) {
                        return '不能超过16个字符';//验证不通过
                    }
                } 
                
               });

                //监听提交
            form.on('submit(formDemo)', function (data) {
                //debugger;
                $.ajax({
                    url: '/Login/UPwd',
                    method: 'post',
                    data: data.field,
                    success: function (data) {

                        if (data == "ok") {
                            layer.alert("修改成功！");
                            setTimeout(function () {
                                //休眠1秒后页面跳转
                                //window.location.href = "/Login/UPwd?id="++"";
                                //关闭当前弹框
                                //var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                //parent.layer.close(index); //再执行关闭
                            }, 2000);


                        } else {
                            layer.alert("修改失败");
                        }
                    }
                });
                return false;//防止页面跳转
            });
        });
    </script>

</body>
</html>
