

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/layui/layui.js"></script>
    <script src="~/Content/myjs/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div class="layui-col-md8" style="margin-left:10%;margin-right:10%">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>@ViewBag.equipment.Name 借取</legend>
        </fieldset>
        <form class="layui-form layui-form-pane" lay-filter="form_add" action="/Material/Apply">

            <div class="layui-form-item">
                <label class="layui-form-label">编号</label>
                <div class="layui-input-inline">
                    <input type="text" name="OutGoodsId" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" value="@ViewBag.equipment.GoodsId" readonly="readonly" style="color:red;font-weight:600">
                </div>

            </div>

            <div class="layui-form-item">

                <label class="layui-form-label">领用数量</label>
                <div class="layui-input-inline">
                    <input type="text" name="OutNum" lay-verify="required||number||checkStore" placeholder="请输入" autocomplete="off" class="layui-input" value="1">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">领用理由</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入领用理由" class="layui-textarea" lay-verify="required" name="Reason"></textarea>
                </div>
            </div>

            <div class="layui-form-item" style="text-align:center">
                <button class="layui-btn" lay-submit="" lay-filter="formDemo">提交申请</button>
            </div>
        </form>
    </div>

    <script>



        layui.use(['form'], function () {
            var form = layui.form



            //自定义验证规则
            form.verify({
                maxlength: function (value) {
                    if (value.length >16) {
                        return '不能超过16个字符';
                    }
                },
                checkStore: function (value) {
                    //debugger;
                    var callbackdata;
                    $.ajax({
                        url: "/Goods_Equipment/CheckStore",
                        type: "post",
                        async: false,//同步
                        data: {
                            num: value,
                            equipmentsId:"@ViewBag.equipment.GoodsId"
                        },
                        success: function (data) {
                            callbackdata = data;
                        }
                    });
                    if (callbackdata == "no") {
                        return ("库存不足！");
                    };

                }
            });
            //监听提交
            form.on('submit(formDemo)', function (data) {
                //debugger;
                $.ajax({
                    url: '/WorkFlow/ApplyEquipment',
                    method: 'post',
                    data: data.field,
                    success: function (data) {

                        if (data == "ok") {
                            layer.alert("提交成功！");
                            setTimeout(function () {
                                //休眠1秒后页面跳转
                                window.location.href = "/Goods_Equipment/ApplyingIndex?id=" + @ViewBag.equipment.Id + "";
                                //关闭当前弹框
                                //parent.layer.close(index);//再执行关闭
                            }, 2000);


                        } else {
                            layer.alert("提交失败");
                        }
                    }
                });
                return false;//防止页面跳转
            });
        });
    </script>

</body>
</html>
