<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/myjs/jquery-1.10.2.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->

</head>
<body class="layui-fluid">
    <div class="layui-card">
        <div class="layui-row layui-form">
            <div class="layui-col-md2 layui-col-md-offset5 " style="margin-top:20px;"><input type="text" id="txt_Select" placeholder="请输入名称" class="layui-input"></div>
            <div class="layui-col-md1" style="margin-top:20px;"> <button class="layui-btn layui-btn-normal" onclick="btn_search()">搜索</button></div>
        </div>

        <div>
            <table class="layui-hide" id="mytable" lay-filter="test"></table>
        </div>
    </div>

    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="single">单条导入</button>
            <button class="layui-btn layui-btn-sm" lay-event="ExcelImport">Excel导入</button>
            <button class="layui-btn layui-btn-sm" lay-event="update">修改记录</button>
            <button class="layui-btn layui-btn-sm   layui-btn-danger" lay-event="checkrole"><i class="layui-icon"></i>入库记录查询</button>
        </div>
    </script>



    <script>


        var table;
        //使用layi的table模块
        layui.use('table', function () {

            //debugger;
            table = layui.table;//实例化table模块
            var form = layui.form;//实例化form模块

            //渲染表格数据
            //第二个实例
            table.render({
                elem: '#mytable'
                , skin: 'line' //行边框风格
                , url: '/Goods_Equipment/GetJsonList' //数据接口
                , toolbar: '#toolbarDemo'
                , cellMinWidth: 70    //  自适应宽度，最短宽度80
                , page: true //开启分页
                , limits: [5, 10, 15, 20, 25, 30]
                , limit: 15 //每页默认显示的数量
                , defaultToolbar: ['filter', 'print', 'exports']//自由配置头部工具栏右侧的图标,导出乱码bug
                , cols: [[ //表头
                    { type: 'checkbox', fixed: 'left' }
                    //, { field: 'Id', title: 'Id', sort: false, fixed: 'left', width: 70 }
                    , { field: 'goodsId', title: '编号', sort: false }
                    , { field: 'name', title: '名称', sort: false }
                    , { field: 'unit', title: '单位', sort: false }
                    , { field: 'num', title: '数量', sort: false }
                    , { field: 'description', title: '描述', sort: false }
                    , { field: 'categoryName', title: '类别', sort: false }
                    , { field: 'money', title: '价格', sort: false }
                    , { field: 'specification', title: '规格', sort: false }
                ]],

            });



            //头工具栏事件
            table.on('toolbar(test)', function (obj) {
               // debugger;
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'ExcelImport':

                        //点击用户信息添加按钮-->弹框
                        //iframe窗
                        layer.open({
                            type: 2,//2就代表是 iframe
                            title: 'Excel导入',
                            shade: 0.6,
                            maxmin: true, //开启最大化最小化按钮
                            area: ['893px', '600px'],
                            content: '/Goods_Equipment/ExcelIndex', //指向的页面地址
                            cancel: function (index) {
                                layer.close(index);
                                //刷新table
                                btn_search();
                            }
                        });

                        //var data = checkStatus.data;
                        //layer.alert(JSON.stringify(data));
                        break;
                    case 'getCheckLength':
                        var data = checkStatus.data;
                        layer.msg('选中了：' + data.length + ' 个');
                        break;
                    case 'update':
                        //获取选中的个数
                        if (checkStatus.data.length == 1) {
                            //debugger;
                            ////获取选中信息的id
                            var id = checkStatus.data[0].id;


                            layer.open({
                                type: 2,//2就代表是 iframe
                                title: '修改记录',
                                shade: 0.6,
                                maxmin: true, //开启最大化最小化按钮
                                area: ['893px', '600px'],
                                content: '/Goods_Equipment/UpdateIndex?id=' + id, //指向的页面地址,并把对应的id传过去
                                cancel: function (index) {
                                    layer.close(index);
                                    //刷新table
                                    btn_search();
                                }
                            });
                        } else {
                            layer.alert("必须选中且只能选中一条信息！");
                        }
                        break;

                    case 'single':
                        //获取选中的个数
                        //点击用户信息添加按钮-->弹框
                        //iframe窗
                        layer.open({
                            type: 2,//2就代表是 iframe
                            title: '非耗材信息添加',
                            shade: 0.6,
                            maxmin: true, //开启最大化最小化按钮
                            area: ['893px', '600px'],
                            content: '/Goods_Equipment/AddIndex', //指向的页面地址
                            cancel: function (index) {
                                layer.close(index);
                                //刷新table
                                btn_search();
                            }
                        });
                        break;




                    //自定义头工具栏右侧图标 - 提示
                    case 'LAYTABLE_TIPS':
                        layer.alert('这是工具栏右侧自定义的一个图标按钮');
                        break;
                };
            });


            //监听锁定操作
            form.on('checkbox(lockDemo)', function (obj) {
               // debugger;
                //把数据传给后台  ajax
                //$.ajax({
                //    url: "/Role/ForbidRole",//配置请求地址
                //    type: "post",//配置请求方式
                //    data: {
                //        id: this.value,
                //        delFlag: obj.elem.checked,
                //    },
                //    success: function (res) {
                //        //回调函数，请求成功获取返回数据后执行，res就是服务器返回的数据
                //        if (res == "ok") {
                //            layer.alert("操作成功");
                //        } else if (res = "noyou") {
                //            layer.alert("你不能禁用你自己！");
                //        }
                //        else {
                //            layer.alert("操作失败");
                //        }
                //        //模拟点击了搜索按钮-->刷新页面
                //        btn_search();
                //    }
                //});
            });


        });




        //查询
        btn_search = function () {
           // debugger;//打断点
            //获取文本框的值
            var selectInfo = $("#txt_Select").val();
            //重新加载表格
            table.reload('mytable', {
                url: '/Goods_Equipment/GetJsonList',
                page: {
                    curr: 1//从第一页开始
                },
                where: {
                    selectInfo: selectInfo,//设定异步数据接口的额外参数
                }
            });


        };
    </script>

</body>
</html>