
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/myjs/jquery-1.10.2.js"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body class="layui-fluid">
    <div class="layui-card">

        <div>

            <fieldset class="layui-elem-field site-demo-button">
                <legend>我的借取</legend>
            </fieldset>

            <div class="layui-row">
                <table id="mytable1" lay-filter="test1"></table>
            </div>
            <script type="text/html" id="toolbarDemo1">
                <div class="layui-row">
                    <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="detail"><i class="layui-icon"></i>查看进度</button>
                    <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="deleteApply"><i class="layui-icon"></i>撤销申请</button>
                </div>
            </script>


            <div class="layui-row layui-form">
                <div class="layui-col-md2 layui-col-md-offset5 " style="margin-top:20px;"><input type="text" id="txt_Select" placeholder="请输入名称" autocomplete="off" class="layui-input"></div>
                <div class="layui-col-md1" style="margin-top:20px;"> <button class="layui-btn layui-btn-normal" onclick="btn_search()">搜索</button></div>
            </div>

            <div class="layui-row">
                <table id="mytable2" lay-filter="test"></table>
            </div>
            <script type="text/html" id="toolbarDemo">
                <div class="layui-row">
                    <div class="layui-btn-container layui-col-md6">
                        <button class="layui-btn layui-btn-sm" lay-event="apply"><i class="layui-icon"></i>提交申请</button>
                        <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="checkImg"><i class="layui-icon  layui-icon-read "></i>查看审批流程图</button>
                    </div>
                </div>
            </script>

            <script type="text/html" id="stateTpl">
                {{#  if(d.status == 0){ }}
                <span style="color: #F581B1;">审核中</span>
                {{#  } else if(d.status == 1) { }}
                <span>审核通过</span>
                {{#  }else if(d.status == 2) { }}
                <span style="color:#b251f6">已撤销</span>
                {{#  } else if(d.status == 3) { }}
                <span style="color:red">已被驳回</span>
                {{#  }else if(d.status == 4) { }}
                <span style="color:#0094ff">已领取</span>
                {{#  }else if(d.status == 5) { }}
                <span style="color:#0094ff">已归还</span>
                {{#  }  }}
            </script>

        </div>

    </div>


    <script src="~/Content/layui/layui.js"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->
    <script type="text/javascript">

        var table;
        //var url = "";
        //var action;

        layui.use('table', function () {
            table = layui.table;
            //var form = layui.form;

            //第一个实例
            table.render({
                elem: '#mytable1'
                , skin: 'line' //行边框风格
                , url: '/WorkFlow/GetConsumableApplyByUser' //数据接口
                //, toolbar: '#toolbarDemo1'
                , cellMinWidth: 90    //  自适应宽度，最短宽度80
                , page: true //开启分页
                , limits: [5, 10, 15, 20, 25, 30]
                , limit: 5 //每页默认显示的数量
                , defaultToolbar: ['filter', 'print', 'exports']//自由配置头部工具栏右侧的图标,导出乱码bug
                , cols: [[ //表头


                    { type: 'checkbox', fixed: 'left' }
                    //, { field: 'Id', title: 'Id', sort: false, fixed: 'left', width: 70 }

                    , { field: 'instanceId', title: '实例编号', width: 120, sort: false }
                    , { field: 'modelName', title: '实例类型', width: 120, sort: false }
                    , { field: 'userName', title: '申请人', width: 120, align: 'center', sort: false }
                    , { field: 'outGoodsName', title: '领用物品', width: 120, sort: false }
                    , { field: 'outNum', title: '领用数量', width: 120, sort: false }
                    , { field: 'reason', title: '领用理由', sort: false }
                    , { field: 'reviewerName', title: '审核人', sort: false }
                    , { field: 'status', title: '审核状态', width: 120, sort: true, templet: '#stateTpl' }
                    , { field: 'addTime', title: '申请时间', width: 180, sort: false }
                    , { fixed: 'right', title: '操作', width: 200, align: 'center', toolbar: '#toolbarDemo1' }

                ]],

            });

            //第二个实例
            table.render({
                elem: '#mytable2'
                , skin: 'line' //行边框风格
                , url: '/Goods_Consumable/GetJsonList' //数据接口
                , toolbar: '#toolbarDemo'
                , cellMinWidth: 70    //  自适应宽度，最短宽度80
                , page: true //开启分页
                , limits: [5, 10, 15, 20, 25, 30]
                , limit: 15 //每页默认显示的数量
                , defaultToolbar: ['filter', 'print', 'exports']//自由配置头部工具栏右侧的图标,导出乱码bug
                , cols: [[ //表头
                    { type: 'checkbox', fixed: 'left' }
                    //, { field: 'Id', title: 'Id', sort: false, fixed: 'left', width: 70 }
                    , { field: 'goodsId', title: '编号', sort: false }
                    , { field: 'name', title: '名称', sort: false }
                    , { field: 'unit', title: '单位', sort: false }
                    , { field: 'num', title: '数量', sort: false }
                    , { field: 'description', title: '描述', sort: false }
                    , { field: 'categoryName', title: '类别', sort: false }
                    , { field: 'money', title: '价格', sort: false }
                    , { field: 'specification', title: '规格', sort: false }
                ]],

            });

            //工具栏事件 注意：上方工具栏是toolbar
            table.on('toolbar(test)', function (obj) {
               // debugger;
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'apply':
                        //获取选中的个数
                        if (checkStatus.data.length == 1) {
                            //获取选中的信息
                            var id = checkStatus.data[0].id;

                            layer.open({
                                type: 2,//2就代表是 iframe
                                title: '耗材申请',
                                shade: 0.6,
                                maxmin: true, //开启最大化最小化按钮
                                area: ['893px', '600px'],
                                content: '/Goods_Consumable/ApplyingIndex?id=' + id, //指向的页面地址,并把对应的id传过去
                                cancel: function (index) {
                                    layer.close(index);
                                    //刷新table
                                    btn_search();
                                }
                            });
                        } else {
                            layer.alert("必须选中且只能选中一条信息！");
                        }
                        break;
                    case 'checkImg':
                        layer.open({
                            type: 2,
                            title: "耗材领取流程图",
                            shade: 0.8,
                            area: ['780px', '620px'],
                            content: ['/WorkFlow/WorkFlowGoods_ConsumableIndex'],
                        });
                        break;
                };
            });
            //注意：右侧工具栏是tool
            table.on('tool(test1)', function (obj) {
                //debugger;
                switch (obj.event) {
                    case 'deleteApply':
                        //只有审核中的可以撤销
                        var data = obj.data;
                        if (data.status == 0) {
                            btn_deleteApply(data.id);
                        } else {
                            layer.alert("只有审核中的记录才能撤销！")
                        }
                        break;
                    case 'detail':

                        var data = obj.data;
                        layer.open({
                            type: 2,
                            title: "签核进度查看",
                            shade: 0.8,
                            area: ['780px', '620px'],
                            content: ['/WorkFlow/WorkFlowStepIndex?instanceId=' + data.instanceId + ''],
                        });
                        break;
                };
            });

        });



        //查询
        btn_search = function () {
            var selectInfo = $("#txt_Select").val();
            table.reload('mytable2', {
                url: '/Goods_Consumable/GetJsonList',
                page: {
                    curr: 1//从第一页开始
                },
                where: {
                    selectInfo: selectInfo,
                } //设定异步数据接口的额外参数  
            });

            table.reload('mytable1', {
                url: '/WorkFlow/GetConsumableApplyByUser',
                page: {
                    curr: 1//从第一页开始
                },
            });
        };


        //撤销申请
        btn_deleteApply = function (Id) {
            $.ajax({
                url: "/WorkFlow/RevokeConsumable",
                type: "post",
                async: false,//同步
                data: {
                    id: Id,
                },
                success: function (data) {
                    if (data == "ok") {
                        layer.alert("撤销成功");
                        //重新加载mytable1
                        table.reload('mytable1', {
                            url: '/WorkFlow/GetConsumableApplyByUser'
                        });
                    }

                }
            });
        }

    </script>



</body>
</html>

