<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/myjs/jquery-1.10.2.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->

</head>
<body class="layui-fluid">
    <div class="layui-card">
        <div class="layui-row layui-form">
            <div class="layui-col-md2 layui-col-md-offset5 " style="margin-top:20px;"><input type="text" id="txt_Select" placeholder="请输入部门名称" class="layui-input"></div>
            <div class="layui-col-md1" style="margin-top:20px;"> <button class="layui-btn layui-btn-normal" onclick="btn_search()">搜索</button></div>
        </div>

        <div>
            <table class="layui-hide" id="mytable" lay-filter="test"></table>
        </div>
    </div>

    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="addDepartment">添加部门信息</button>
            <button class="layui-btn layui-btn-sm" lay-event="updateDepartment">修改部门信息</button>
            <button class="layui-btn layui-btn-sm   layui-btn-danger" lay-event="checkrole"><i class="layui-icon"></i>分配角色</button>
        </div>
    </script>

    <!--<script type="text/html" id="sexTpl">-->
        @*layui提供的专门的语法规则  d就是那一行的数据  *@

        <!--{{#  if(d.sex == '1'){ }}
        <span style="color: #F581B1;">男</span>
        {{#  } else if(d.sex =='2') { }}
        <span style="color: #ff0000;">女</span>
        {{#  } else{ }}
        <span style="color: #00ff21;">未知</span>
        {{#  } }}
    </script>-->

    <!--<script type="text/html" id="checkboxTpl">-->
        <!-- 把d.Id绑定到input标签的value属性，待会儿会通过value可以拿到Id  ， checked就是变绿色 -->
        <!--<input type="checkbox" value="{{d.id}}" title="开启用户" lay-filter="lockDemo" {{ d.delFlag == 0 ? 'checked' : '' }}>
    </script>-->



    <script>


        var table;
        //使用layi的table模块
        layui.use('table', function () {

            //debugger;
            table = layui.table;//实例化table模块
            var form = layui.form;//实例化form模块

            //渲染表格数据
            table.render({
                elem: '#mytable'//查到的数据渲染到id为mytable的标签中
                , url: '/Department/GetDepartments'//数据源->后台提供数据的地址
                , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                , title: '用户数据表'
                , cols: [[ //配置数据表格的每一列
                    { type: 'checkbox', fixed: 'left' }
                    , { field: 'departmentId', title: '部门ID', width: 80, fixed: 'left', unresize: true, sort: true }//field:和后台返回的json数据的key进行绑定
                    , { field: 'departmentName', title: '部门名称' }
                    , { field: 'leaderNane', title: '主管名称' }
                    , { field: 'parentName', title: '上级部门' }
                    , { field: 'addTime', title: '添加时间' }
                ]]
                , page: true //开启分页功能
                , limits: [5, 10, 15, 20, 30]
            });



            //头工具栏事件
            table.on('toolbar(test)', function (obj) {
               // debugger;
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'addDepartment':

                        //点击用户信息添加按钮-->弹框
                        //iframe窗
                        layer.open({
                            type: 2,//2就代表是 iframe
                            title: '部门信息添加',
                            shade: 0.6,
                            maxmin: true, //开启最大化最小化按钮
                            area: ['893px', '600px'],
                            content: '/Department/AddIndex', //指向的页面地址
                            cancel: function (index) {
                                layer.close(index);
                                //刷新table
                                btn_search();
                            }
                        });

                        //var data = checkStatus.data;
                        //layer.alert(JSON.stringify(data));
                        break;
                    case 'getCheckLength':
                        var data = checkStatus.data;
                        layer.msg('选中了：' + data.length + ' 个');
                        break;
                    case 'updateDepartment':
                        //获取选中的个数
                        if (checkStatus.data.length == 1) {
                            //debugger;
                            ////获取选中信息的id
                            var id = checkStatus.data[0].id;


                            layer.open({
                                type: 2,//2就代表是 iframe
                                title: '部门信息修改',
                                shade: 0.6,
                                maxmin: true, //开启最大化最小化按钮
                                area: ['893px', '600px'],
                                content: '/Department/UpdateIndex?id=' + id, //指向的页面地址,并把对应的id传过去
                                cancel: function (index) {
                                    layer.close(index);
                                    //刷新table
                                    btn_search();
                                }
                            });
                        } else {
                            layer.alert("必须选中且只能选中一条信息！");
                        }
                        break;

                    case 'checkrole':
                        //获取选中的个数
                        if (checkStatus.data.length == 1) {
                            //debugger;
                            //获取选中信息的UserId
                            var UserId = checkStatus.data[0].UserId;
                            layer.open({
                                type: 2,//2就代表是 iframe
                                title: '为用户分配角色',
                                shade: 0.6,
                                maxmin: true, //开启最大化最小化按钮
                                area: ['893px', '600px'],
                                content: '/Department/ConfigIndex?userid=' + UserId, //指向的页面地址,并把对应的id传过去
                                cancel: function (index) {
                                    layer.close(index);
                                    //刷新table
                                    btn_search();
                                }
                            });
                        } else {
                            layer.alert("必须选中且只能选中一条信息！");
                        }
                        break;



                    //自定义头工具栏右侧图标 - 提示
                    case 'LAYTABLE_TIPS':
                        layer.alert('这是工具栏右侧自定义的一个图标按钮');
                        break;
                };
            });


            //查询
            btn_search = function () {
                //debugger;//打断点
                //获取文本框的值
                var selectInfo = $("#txt_Select").val();
                //重新加载表格
                table.reload('mytable', {
                    url: '/Department/GetDepartments',
                    page: {
                        curr: 1//从第一页开始
                    },
                    where: {
                        selectInfo: selectInfo,//设定异步数据接口的额外参数
                    }
                });

            };

        });




       
    </script>

</body>
</html>